<div class="navegacao">
  <nav>
    <ul>
      <li><a href="{%url 'post_categoria' 'Politica'%}">Politica</a></li>
      <li><a href="{%url 'post_categoria' 'Musica'%}">Musica</a></li>
      <li><a href="{%url 'post_categoria' 'Dia-a-dia'%}">Dia-a-dia</a></li>
      <li><a href="{%url 'post_categoria' 'Gremio'%}">Gremio Estudantil</a></li>
      <li><a href="{%url 'post_categoria' 'Saúde'%}">Saúde</a></li>
      <li><a href="{%url 'post_categoria' 'Esporte'%}">Esporte</a></li>
    </ul>
  </nav>
</div>
